{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block bodyclass %}
<body class="product-checkout checkout-cart">
{% endblock bodyclass %}

{% block content %}
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

    <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Create Profile</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav> 
            
            <div class="acount head-acount">
                
                <div class="container">
                     {% comment %} <h3 class="title-page">Create Profile</h3> {% endcomment %}
                    <div id="main">
                       
                        <div class="container my-5">
                            <div class="row">
                            {% comment %} <h3>Welcome <span class='text-capitalize'>{{request.user}}</span></h3> {% endcomment %}
                                <div class="col-sm-8 offset-sm-1">
                                    <form action="" method="POST" novalidate required>
                                    {% csrf_token %}
                                    {% for fm in form %}
                                <div class='form-group col-lg-6 mb-3' required>
                                    {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small>
                                </div>
                                    {% endfor %}
                            
                                    <div class="col-12 mt-3">
                                    <button type='submit' class='btn btn-primary mt-4'>Submit</button>
                                    </div>
                                </form>
                                {% if messages %}
                                {% for message in messages %}
                                <p {% if message.tags %} class='alert alert-{{message.tags}} mb-5' {% endif %}>{{message}}</p>
                                {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}    


    