{% extends 'primary.html' %}
{% load static %}
{% block title %}Password Reset Completed{% endblock title %}


{% block bodyclass %}
<body class="user-login blog">
{% endblock %}
{% block content %}
    
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="/">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Password Reset Completed</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>

<div class='container'>
    <div class='row my-3'>
        <div class='col-sm-6 offset-sm-3'>
            <h4>Reset Password Completed!</h4>
            <div><iframe src="https://giphy.com/embed/9pXEjSI3k3B2IPorHO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>
</div>
{% endblock %}
