{% extends 'primary.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}


{% block bodyclass %}
<body class="user-login blog">
{% endblock %}
{% block content %}
    
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="/">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Password Reset</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>

<div class='container'>
    <div class='row my-3'>
        <div class='col-sm-6 offset sm-3'>
            <h4 class='alert-heading'>Well Done!</h4><br>
            <p>An Email has been sent with the instructions to reset your password.<br>
                <b>Note:</b>  If the email address that you entered is correct you will receive a email.<b>  Check your Email!</b></p>
        </div>
    </div>
</div>
{% endblock %}