{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block bodyclass %}
<style>
  .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    

    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    

    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
      background-color: #555;
    }
</style>
<body class="product-checkout checkout-cart">
{% endblock bodyclass %}

{% block content %}
    <!-- main content -->
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Checkout</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% if buyer_items %}
    {% for item in buyer_items  %}
    <div class="card mb-2">
      <div class="card-body">
        <h5>Product: {{item.product.title}}</h5>
        <p>Quantity: {{item.quantity}} </p>
        <p class="fw-bold">Price: {{item.total_cost}}</p>
      </div>
    </div>
    <p class='fw-bold'>Total Cost + Rs.80 = {{totalamount}}</p>
    {% endfor %}

    {% else %}

    {% for item in cart_items  %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.cart_product.title}}</h5>
          <p>Quantity: {{item.quantity}} </p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      <p class='fw-bold'>Total Cost + Rs.80 = {{totalamount}}</p>
      {% endfor %}
      {% endif %}
    
    {% comment %} <small>Terms and Condition applied.</small> {% endcomment %}
  </div>
  
  <div class="col-sm-4 offset-sm-1">
    <h4>Shipping Address</h4>
    <hr>
    <form action={% url 'orders' %}>
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
        <a href={% url 'editprofile' %} class='btn btn-info mt-3 px-5 fw-bold'> Edit Profile</a>
        
      </div>
        <div class="form-check mt-2 mb-5">
          <input  type="hidden" name='custid' id='custadd {{forloop.counter}}' value="{{ad.id}}" >
        </div>  

        {% endfor %}

      {% comment %} </form> {% endcomment %}
    </div>
  </div>

<div class="container">
  <div class="row mt-5">
   <div class="col-sm-6">
     <h4>Payment Method</h4>
     <hr>
   </div>
   </div>  
     {% comment %} <form action="/orders"> {% endcomment %}
         <div class="row">
             <div class="column">
                 <center>
               <div class="card">
                 <img  src={% static '/img/home/cod.png' %} alt="Cash On Delivery" style="width:27%">
                 <div class="container">
                   <h5>Cash on Delivery</h5>
                   <input class="form-check-input" type="radio" name='payment'   value="Cash On Delivery" required>
                 </div>
               </div>
               <center>
             </div>
           
             <div class="column">
                 <center>
               <div class="card">
                 <img src={% static '/img/home/logo-paypal.png' %} alt="Paypal" style="width:62%">
                 <div class="container">  
                   <h5>Paypal</h5>
                   <input class="form-check-input" type="radio" name='payment' value="Paypal" required>
                 
                 </div>
               </div>
             </center>
             </div>
           
             <div class="column">
                 <center>
               <div class="card">
                 <img src={% static '/img/home/credit_card.png' %} alt="Credit Card" style="width:39%">
                 <div class="container">
                   <h5>Credit Card</h5>
                     <input class="form-check-input" type="radio" name='payment'  value="Credit Card" required>
                 </div>
               </div>
             </center>
             </div>
           </div>
           
   
           {% if profile %}
          <center> <button class="btn btn-primary add-to-cart add-item"   data-button-action="add-to-cart" type="submit">
             <span>Select Payment Method</span>
         </button></center>
         {% else %}
         <p><b>You haven't created a profile. Please create it first for delivery address.
         <div class="d-grid"><a href="{% url 'create-user-account' %}" class="btn btn-primary">Create Profile</a></div>
         {% endif %}
        </form>
 </div>
</div>
{% endblock %}